/Dev Desktop/TesteApache/target/
Dev Web/DataBase1/DataBase1/src/main/resources/META-INF/persistence.xml
Dev Web/DataBase1/DataBase1/src/main/resources/META-INF/persistence.xml
/Dev Desktop/ProjetoFinanceiro/target/
Dev Web/DataBase1/DataBase1/src/main/resources/META-INF/persistence.xml
